.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
}

body,
html {
  color-scheme: dark;
  background: hsl(240, 11%, 10%);
}
.MuiTouchRipple-child {
  filter: opacity(0.3) !important;
  background: hsl(240, 11%, 90%);
}

*:not(
    .override-font,
    .override-font *,
    .material-symbols-outlined,
    .material-symbols-outlined *
  ) {
  font-family: "DM Sans", sans-serif !important;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar {
  display: none
}
